html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  border-radius: 0;
  height: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.header-tag {
  font-size: 5.5rem;
  font-weight: 700;
  color: #ff6918;
  line-height: 0.85;
}
.section-button {
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #ff6918, #f43702);
  border-style: none;
  color: #ffffff !important;
  border-radius: 0;
  height: 45px;
}
.page-perview {
  height: calc(100% - 70px);
  overflow: hidden;
  text-align: center;
}
section {
  position: relative;
}
@media (min-width: 1200px) {
  section {
    width: 100%;
  }
}
/* Classes to use  */

.back-image {
  background-image: url("https://images03.nicepage.com/c461c07a441a5d220e8feb1a/87b387a9d4145b31a517b454/2686700.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  /* width: 100%; */
  background-position: 50% 50%;
}

/* ********************************NavBar Start ***************************** */

.flex-nav {
  display: flex;
  justify-content: space-around;
  min-height: 75px;
  align-items: center;
  position: relative;
}
.nav-icons {
  font-size: 24px;
  color: black;
}

.fa-bars:hover {
  color: rgb(40, 39, 39);
}
.nav-bars {
  margin-right: 0;
}
.nav-bars-icon {
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-bars-icon {
    margin-right: 200px;
  }
}
@media screen and (min-width: 320px) and (max-width: 576px) {
  .nav-bars-icon {
    margin-right: 34px;
  }
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* ! *******************************NavBar End ***************************** */

/** **************************** Home Section Start***************  */
.home-section {
  margin: 0 auto;
  height: 100%;
}

.section-content .container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  /* padding-bottom: 250px; */
  padding-top: 100px;
}
/* @media (min-width: 1200px) {
  .section-content {
    width: 1140px;
  }
} */
.home-section .d-flex {
  flex-direction: column;
  padding-top: 50px;
  align-content: center;
}

.home-section h1 {
  text-align: left;
}
.home-section p {
  font-style: italic;
  font-weight: 600;
  font-size: 1rem;
  color: #555c66 !important;
  word-wrap: break-word;
  text-align: left;

  /* width: 50%; */
}
.home-section .d-flex-form {
  display: flex;
  flex-flow: row;
  padding-top: 20px;
  flex-wrap: wrap;
  width: 35%;
}
.home-section input {
  border: 0;
  height: 45px;
  width: 300px;
  color: #111111;
  background-color: #ffffff;
  padding: 10px 12px;
  text-align: left;
}
.home-section .home-form {
  text-align: left;
}

.home-section .pargraph-2 {
  padding-top: 180px;
  font-style: italic;
  font-weight: 300;
}
.home-section .pargraph-2 a {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .home-section {
    background-position: 66.8% 50%;
  }
}
@media (max-width: 575px) {
  .home-section {
    background-position: 67.33% 50%;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .home-section h1 {
    font-size: 2.5rem;
    margin-right: 0;
    width: auto;
  }
  .home-section button {
    width: 78%;
  }
  .home-section input {
    width: 78%;
  }
  .home-section .pargraph-2 {
    padding-top: 7%;
  }
}

@media screen and (min-width: 200px) and (max-width: 576px) {
  .home-section h1 {
    font-size: 1.5rem;
    margin-right: 0;
    width: auto;
  }
  .home-section p {
    font-size: 12px;
  }
}
/* ! **************************** Home Section End ***************  */

/* * **************************** First Grid Section Start*****************  */

.first-grid-section {
  padding: 50px 0;
}
.first-grid-section .grid {
  max-width: 100%;
  min-height: 250px;
  color: white;
  text-align: left;
  padding: 30px;
}
.first-grid-section .grid h2 {
  font-weight: 900;
  font-size: 3.75rem;
}
.first-grid-section .grid h4,
p {
  word-wrap: break-word;
}
.first-grid-section .grid i {
  font-size: 32px;
  font-weight: bolder;
  width: 100%;
  height: 100%;
  fill: currentColor;
  padding-top: 16px;
}

.first-grid-section .grid-greater-than {
  margin: 30px auto 0 0;
  text-align: center;
  background-color: #ffffff;
  border: 20px;
  border-radius: 50%;
  height: 64px;
  width: 64px;
}
.grid-1 {
  background-color: #ff6918;
}
.grid-1 .fa-greater-than {
  color: #ff6918;
  font-size: 48px;
}

.grid-2 {
  background-color: #f43702;
}
.grid-2 .fa-greater-than {
  color: #f43702;
  font-size: 48px;
}
.grid-3 {
  background-color: #292d33;
}
.grid-3 .fa-greater-than {
  color: #292d33;
  font-size: 48px;
}

.grid-4 {
  background-color: #555c66;
}
.grid-4 .fa-greater-than {
  color: #555c66;
  font-size: 48px;
}

/* ! **************************** First Grid Section End*****************  */

/* ************************************* we are Section Start ************************************** */
.we-are {
  color: #111111;
  background-color: #f2f2f2;
  padding: 50px 0;
}
.we-are h2 {
  font-size: 3.75rem;
}

.we-are p {
  font-size: 1.25rem;
  width: 780px;
  font-weight: 400;
  margin: 28px auto 0;
  padding-bottom: 20px;
}

.we-are button {
  padding: 14px 48px;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .we-are p {
    width: 90%;
    word-wrap: break-word;
  }
  .we-are h2 {
    word-wrap: break-word;
    font-size: 3rem;
  }
}

@media screen and (min-width: 200px) and (max-width: 576px) {
  .we-are p {
    width: 90%;
    word-wrap: break-word;
  }
  .we-are h2 {
    word-wrap: break-word;
    font-size: 2em;
  }
}

/* ! ************************************ we are Section end ************************************ */

/** ***********************************Construction Services Section Start ********************** */
.construction-services {
  color: #ffffff;
  background-color: #ff6918;
}

.construction-services .container {
  background-color: white;
  color: #292d33;
  text-align: left;
  background-color: #ff6918;
  padding-top: 60px;
  padding-bottom: auto;
  padding-bottom: 60px;
}

.construction-services .column {
  padding: 40px;
  background-color: #f2f2f2;
}

.construction-services h5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
}
.construction-services .header-tag {
  font-size: 3.4375rem;
  margin: 6px 0 0;
}
.construction-services .header-paragraph {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
  padding-bottom: 10px;
}

.construction-services ul {
  word-wrap: break-word;
  position: relative;
  list-style: disc;
}
.construction-services .pargraph-link {
  color: #adcce9;
}
.construction-services .link-div {
  padding-left: 0px;
  padding-top: 35px;
}

.construction-services div a {
  background-image: none;
  border: 2px;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 400;
  /* margin: 29px 0 0; */
  padding-top: 29px;
}
.construction-services .column-2 {
  background-image: url("https://images03.nicepage.com/c461c07a441a5d220e8feb1a/7121131f7ae45c39af20dfbe/56.jpg");
  background-position: 43.58% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  /* height: 100%; */
}

.construction-services .column-3 {
  display: flex;
  flex-direction: column;
  padding: top 20px 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.construction-services .column-3 .img-1 {
  background-image: url("https://images03.nicepage.com/c461c07a441a5d220e8feb1a/e48e3cb741c558ffa9c36d5c/dddd.jpg");
  background-position: 50% 50%;

  height: 332px;
  /* display: flex; */
  /* flex: 1; */
}

.construction-services .column-3 .img-2 {
  background-image: url("https://images03.nicepage.com/c461c07a441a5d220e8feb1a/28253428ba995d829412c6b4/54e1d24a4951ab14f6da8c7dda79367d1d38d6ed5b586c48702779d59744cd59bb_1280.jpg");
  background-position: 50% 50%;
  height: 332px;
  /* display: flex; */
  /* flex: 1; */
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .construction-services .header-tag {
    font-size: 2.75rem;
  }
}
@media (min-width: 768px) {
  .column-3 .col-md-12 {
    padding-right: 0px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
}

@media screen and (min-width: 200px) and (max-width: 768px) {
  .construction-services .column-2 {
    height: 500px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1207px;
  }
}
/*! ********************************** Construction Services Section End ************************ */

/** ********************************** Dream home Section start ************************ */
.dream-home {
  background-color: white;
}
.dream-home .container {
  text-align: left;
}
.dream-home .column-1 {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
}

.dream-home button {
  width: 40%;
}
.dream-home .column-1 h5 {
  letter-spacing: 3px;
  font-size: 1.125rem;
  word-wrap: break-word;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
.dream-home .column-1 h2 {
  font-size: 3.75rem;
  text-transform: none;
  font-weight: 700;
  margin: 0;
}
.dream-home .column-1 p {
  font-size: 1.25rem;
  padding: 30px 0 0;
}

.dream-home .column-2 {
  background-image: url("  https://images03.nicepage.com/c461c07a441a5d220e8feb1a/65807345b55150a3bd37b0f7/OBC8MR0.jpg");
  background-position: 43.58% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  height: 659px;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .dream-home .column-2 {
    height: 398px;
  }
  .dream-home button {
    width: 43%;
  }
}

@media screen and (min-width: 200px) and (max-width: 768px) {
  .dream-home .column-2 {
    height: 589px;
  }
  .dream-home button {
    width: 68%;
  }
}

/*! ********************************** Dream home  Section End ************************ */

/** ********************************** second-grid  Section start ************************ */
.second-grid {
  height: 900px;
  background-color: white;
}

/* .second-grid img{
  height: 613px;
  object-position: 50% 19.23%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  object-fit: cover;
    display: block;
    width: 100%;

} */

.second-grid .bg {
  height: 613px;
  background-image: url("https://images03.nicepage.com/c461c07a441a5d220e8feb1a/373d25843249581fa041cd7f/287633P6LV61303min.jpg");
  background-position: 50% 19.23%;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.second-grid .flexx {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 800px;
  align-content: flex-end;
  gap: 10px;
}

.second-grid .column-1 {
  flex: calc(100% / 3);
}
.second-grid .column-2 {
  flex: calc(100% / 3);
}

.second-grid .flexx div {
  height: 35%;
  width: 30%;
  background-color: white;
  text-align: center;
  padding: 25px;
}

.second-grid .row {
  gap: 10px;
  height: 711px;
}

.span-icon {
  background-color: #ff6918;
  height: 87px;
  width: 87px;
  margin: 0 auto;
  padding: 20px;
  color: #ffffff !important;
  border-radius: 50%;
  display: block;
  line-height: 0;
  border-width: 0px;
}
.icon {
  width: 100%;
  height: 100%;
  fill: white;
}

.second-grid h5 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 16px 0 0;
  padding: 0;
  word-wrap: break-word;
  letter-spacing: 0.2em;
}

.second-grid div p {
  font-style: italic;
  padding: 20px 0 0;
  font-weight: lighter;
  font-size: 16px;
}
.second-grid .pargraph-2 {
  margin: 220px auto;
}

.second-grid .pargraph-2 a {
  color: #478ac9;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .second-grid .flexx div {
    width: 49%;
  }
  .second-grid {
    height: 1100px;
  }
  .second-grid .pargraph-2 {
    margin: 443px auto;
  }
  .second-grid .container {
    padding-top: 220px;
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .second-grid .flexx div {
    width: 100%;
  }
  .second-grid .column-3 {
    width: 45%;
  }
  .second-grid {
    height: 1100px;
  }
  .second-grid .pargraph-2 {
    margin: 424px auto;
  }

  .second-grid .container {
    padding: 220px 0;
  }
}
/*! ********************************** second-grid   Section End ************************ */

/** ********************************** about-us Section start ************************ */
.about-us {
  padding-top: 50px;
  background-color: #f5f7fa;
}

.about-us .flex {
  display: flex;
  flex: wrap;
  width: 100%;
}
.about-us .border-orange {
  width: 100px;
  border-width: 3px;
  border-style: solid;
  border-color: #ff6918;
  margin-bottom: 20px;
}
.about-us .header-tag {
  font-size: 3.75rem;
  /* margin: 21px 0 0; */
}
.about-us .header-paragraph {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 21px 0 0;
  word-wrap: break-word;
  width: 85%;
}
.img-flex {
  width: 281;
  height: 213;
}
.ff {
  text-align: left;
}

.img-flex {
  display: flex;
  align-content: center;
}
.about-us p {
  padding-bottom: 25px;
}
.about-us .section-button {
  width: 30%;
  margin-bottom: 40px;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .about-us .second-column img {
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .about-us .second-column img {
    width: 100%;
  }
}
/*! ********************************** about-us   Section End ************************ */

/** ********************************** Contact-us Section start ************************ */


.contact-us .bg {
  color: #ffffff;
  background-image: url("https://images03.nicepage.com/c461c07a441a5d220e8feb1a/f66c80d498b057c0bb1a3f42/fvmin.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-us .container {
  color: #292d33;
  text-align: left;
  height: 75%;
  padding-top: 60px;
  padding-bottom: auto;
  padding-bottom: 60px;
}
.contact-us .parent-flex {
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  max-width: 100%;
  padding: 30px;
}

.contact-us .first-part {
  text-align: center;
  padding: 30px;
}
.contact-us .header-tag {
  font-size: 3.75rem;
  margin: 0 auto;
  font-family: Oswald, sans-serif !important;
}
.contact-us .border-orange {
  width: 106px;
  height: 4px;
  transform-origin: left center;
  margin: 21px auto 0;
  border-width: 2px;
  border-style: solid;
  border-color: #ff6918;
}
.contact-us h5 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 24px auto 0;
  word-wrap: break-word;
  letter-spacing: 4px;
  word-spacing: 0.2em;
  text-transform: uppercase;
}
.contact-us .header-paragraph {
  margin: 15px 106px 0;
  color: #808080 !important;
  word-wrap: break-word;
}


.contact-us .second-part p {
  font-weight: 700;
  word-wrap: break-word;
}
.contact-us .icon {
  text-align: center;
}
.contact-us .span-icon {
  height: 38px;
  width: 38px;
  margin: 30px auto 0 0;
  padding-top: 11px;
  padding-left: 13px;
}

.contact-us .second-part {
  display: flex;
  flex-direction: column;
}
.second-part-column-1 {
  display: flex;
  flex-direction: column;
}
.flex-column-2 {
  display: flex;
  flex-direction: column;
}

.contact-us .second-part .flex-column-2 {
  padding: 30px 20px;
}

.contact-us .second-part input,
.msg-textarea {
  border-color: #b3b3b3;
  color: #111111;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  display: block;
  width: 100%;
  padding: 10px 12px;
  background-image: none;
  background-clip: padding-box;
  border-radius: 3px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-color: transparent;
  text-align: inherit;
  height: auto;
  margin-bottom: 15px;
}

.contact-us .section-button {
  width: 30%;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .contact-us .section-button {
    width: 43%;
  }
}
@media screen and (min-width: 250px) and (max-width: 576px) {
  .contact-us .section-button {
    width: 100%;
  }
}

/*! ********************************** Contact-us   Section End ************************ */




.footer-1, .footer-2{
  color: #ffffff;
  background-color: #333333;
  height: 90px;
}
.footer-1 p{
  text-align: center;
  padding: 35px;
  word-wrap: break-word;
}
.footer-2 p {  
display: inline-block;
padding-top: 20px;
}
.footer-2 a{
  color: #ff6918;
  font-weight: bold;
  text-decoration: underline;
}
.footer-2 a:hover{
  color: #f43702;
  font-weight: bold;
  
}